#browse {
  box-sizing: border-box;
  padding: 150px 10% 100px;

  h2 {
    font-style: normal;
    font-size: 48px;
    padding: 0;
    color: dimgray;

  }/*h2*/

  .browse-list {
    padding: 50px 0;
    text-align: center;

    h2 {
      color: white;
      font-size: 40px;

    }/*h2*/

    li {
      display: inline-block;
      width: 30%;
      padding: 10px 1%;

      &:hover {

        .browse-overlay {
          display: block;

        }/*browse-overlay*/
      }/*hover*/

      a{
        text-decoration: none;

        div {
          width: 100%;
          height: 200px;
          padding: 100px 0 0 0;
          box-sizing: border-box;

        }/*div*/
      }/*a*/

      .photographer {
        background: url('../img/camera.jpg') center;
        background-size: cover;

      }/*photographer*/

      .florist {
        background: url('../img/flower.jpg') center;
        background-size: cover;

      }/*florist*/

      .venue {
        background: url('../img/chandelier.jpg') center;
        background-size: cover;

      }/*venue*/
      .caterer {
        background: url('../img/food.jpg') center;
        background-size: cover;

      }/*caterer*/
      .entertainment {
        background: url('../img/record.jpg') center;
        background-size: cover;

      }/*entertainment*/
      .dress {
        background: url('../img/dress.jpg') center;
        background-size: cover;

      }/*dress*/

      .more {
        background: url('../img/glass.jpg') center;
        background-size: cover;

      }/*more*/

      .hair {
        background: url('../img/brushes.jpg') center;
        background-size: cover;

      }/*hair*/

      .invitation {
        background: url('../img/paper.jpg') center;
        background-size: cover;

      }/*invitation*/
    }/*li*/

    .browse-overlay {
      background: rgba(0,0,0,.4);
      position: absolute;
      width: 24%;
      height: 200px;
      display: none;

    }/*browse-overlay*/
  }/*browse-list*/
}/*browse*/