h1 {
  font-family: 'Redressed', cursive;
  color: pink;
  font-size: 72px;

}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 12px;
  padding: 0 0 0 100px;
  margin: 0;
  color: dimgray;

}