#footer {
  background: pink;
  padding: 25px 5%;
  color: white;

  a {
    color: white;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;

  }/*a*/

  ul {
    list-style: none;
    display: inline-block;
    width: 48%;
    padding: 0;
    vertical-align: top;

  }/*ul*/

  .social {
    text-align: right;
    padding: 24px 0 0 0;

    li {
      display: inline;
      padding: 1%;

      i {
        font-size: 24px;

      }/*i*/
    }/*li*/
  }/*social*/

  .contact {
    img {
      display: inline;
      width: 30px;
    }/*img*/

    h6 {
      display: inline;

    }/*h6*/

    a {
      padding: 0 0 0 36px;

    }/*a*/
  }/*contact*/
}/*footer*/