/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 1, ../sass/_header.scss */
body {
  margin: 0;
}

/* line 6, ../sass/_header.scss */
#header {
  position: fixed;
  padding: 20px 0 0;
  vertical-align: top;
  width: 100%;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.8);
  /*checklist*/
  /*h1*/
  /*logo-image*/
  /*logo*/
  /*nav*/
}
/* line 15, ../sass/_header.scss */
#header #checklist {
  background: none;
  padding: 0;
}
/* line 21, ../sass/_header.scss */
#header a {
  font-family: "Open Sans", sans-serif;
  color: pink;
  font-weight: 300;
  text-decoration: none;
  font-size: 28px;
}
/* line 30, ../sass/_header.scss */
#header h1 {
  display: inline;
  font-style: italic;
}
/* line 36, ../sass/_header.scss */
#header .logo-image {
  width: 60px;
}
/* line 41, ../sass/_header.scss */
#header .logo {
  width: 30%;
  display: inline-block;
  vertical-align: top;
  padding: 0 0 20px 2%;
  box-sizing: border-box;
}
/* line 50, ../sass/_header.scss */
#header .nav {
  display: inline-block;
  width: 68%;
  vertical-align: top;
  text-align: right;
  padding: 20px 0 0 0;
  /*li*/
}
/* line 57, ../sass/_header.scss */
#header .nav li {
  list-style: none;
  display: inline-block;
  padding: 0 3%;
  font-family: "Open Sans", sans-serif;
  color: #414141;
  font-weight: 300;
}

/*header*/
/* line 1, ../sass/_fonts.scss */
h1 {
  font-family: 'Redressed', cursive;
  color: pink;
  font-size: 72px;
}

/* line 8, ../sass/_fonts.scss */
h2 {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 12px;
  padding: 0 0 0 100px;
  margin: 0;
  color: #525252;
}

/*h2*/
/* line 19, ../sass/_fonts.scss */
h3 {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 36px;
  color: #525252;
}

/* line 28, ../sass/_fonts.scss */
h5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: gray;
  font-style: italic;
}

/* line 37, ../sass/_fonts.scss */
h6 {
  font-family: 'Redressed', cursive;
  font-size: 36px;
  margin: 0;
  font-style: italic;
}

/* line 1, ../sass/_poster.scss */
#poster {
  width: 100%;
  height: 100vh;
  background: url("../img/wedding-couple.jpg");
  background-size: cover;
  /*h2*/
  /*button-pink*/
  /*button-pink*/
}
/* line 7, ../sass/_poster.scss */
#poster h2 {
  padding: 40vh 0 1vh 10%;
  font-size: 60px;
  font-style: normal;
  width: 50%;
}
/* line 15, ../sass/_poster.scss */
#poster h3 {
  padding: 0 0 2vh 10%;
  font-size: 36px;
}
/* line 21, ../sass/_poster.scss */
#poster .button-pink {
  margin: 0 2% 0 10%;
  padding: 6px 42px;
  border: 2px solid pink;
  background: pink;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  text-decoration: none;
  /*hover*/
}
/* line 31, ../sass/_poster.scss */
#poster .button-pink:hover {
  background: #e79daa;
  border: 2px solid #e79daa;
}
/* line 38, ../sass/_poster.scss */
#poster .button-clear {
  padding: 6px 46px;
  border: 2px solid #525252;
  color: #525252;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  text-decoration: none;
  /*hover*/
}
/* line 46, ../sass/_poster.scss */
#poster .button-clear:hover {
  background: rgba(0, 0, 0, 0.1);
}

/*poster*/
/* line 1, ../sass/_browse.scss */
#browse {
  box-sizing: border-box;
  padding: 200px 10% 200px;
  /*h2*/
  /*h3*/
  /*browse-list*/
}
/* line 5, ../sass/_browse.scss */
#browse h2 {
  font-style: normal;
  font-size: 48px;
  padding: 0;
  color: dimgray;
}
/* line 13, ../sass/_browse.scss */
#browse h3 {
  text-align: center;
}
/* line 18, ../sass/_browse.scss */
#browse .browse-list {
  padding: 50px 0;
  text-align: center;
  /*h2*/
  /*li*/
  /*browse-overlay*/
}
/* line 22, ../sass/_browse.scss */
#browse .browse-list h2 {
  color: white;
  font-size: 40px;
}
/* line 28, ../sass/_browse.scss */
#browse .browse-list li {
  display: inline-block;
  width: 30%;
  padding: 10px 1%;
  /*hover*/
  /*a*/
  /*photographer*/
  /*florist*/
  /*venue*/
  /*caterer*/
  /*entertainment*/
  /*dress*/
  /*more*/
  /*hair*/
  /*invitation*/
}
/* line 33, ../sass/_browse.scss */
#browse .browse-list li:hover {
  /*browse-overlay*/
}
/* line 35, ../sass/_browse.scss */
#browse .browse-list li:hover .browse-overlay {
  display: block;
}
/* line 41, ../sass/_browse.scss */
#browse .browse-list li a {
  text-decoration: none;
  /*div*/
}
/* line 44, ../sass/_browse.scss */
#browse .browse-list li a div {
  width: 100%;
  height: 200px;
  padding: 100px 0 0 0;
  box-sizing: border-box;
}
/* line 53, ../sass/_browse.scss */
#browse .browse-list li .photographer {
  background: url("../img/camera.jpg") center;
  background-size: cover;
}
/* line 59, ../sass/_browse.scss */
#browse .browse-list li .florist {
  background: url("../img/flower.jpg") center;
  background-size: cover;
}
/* line 65, ../sass/_browse.scss */
#browse .browse-list li .venue {
  background: url("../img/chandelier.jpg") center;
  background-size: cover;
}
/* line 70, ../sass/_browse.scss */
#browse .browse-list li .caterer {
  background: url("../img/food.jpg") center;
  background-size: cover;
}
/* line 75, ../sass/_browse.scss */
#browse .browse-list li .entertainment {
  background: url("../img/record.jpg") center;
  background-size: cover;
}
/* line 80, ../sass/_browse.scss */
#browse .browse-list li .dress {
  background: url("../img/dress.jpg") center;
  background-size: cover;
}
/* line 86, ../sass/_browse.scss */
#browse .browse-list li .more {
  background: url("../img/glass.jpg") center;
  background-size: cover;
}
/* line 92, ../sass/_browse.scss */
#browse .browse-list li .hair {
  background: url("../img/brushes.jpg") center;
  background-size: cover;
}
/* line 98, ../sass/_browse.scss */
#browse .browse-list li .invitation {
  background: url("../img/paper.jpg") center;
  background-size: cover;
}
/* line 105, ../sass/_browse.scss */
#browse .browse-list .browse-overlay {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 24%;
  height: 200px;
  display: none;
}

/*browse*/
/* line 1, ../sass/_checklist.scss */
#checklist {
  box-sizing: border-box;
  padding: 200px 10% 200px;
  background: #ededed;
  /*h2*/
  /*h3*/
  /*checklist-bubbles*/
}
/* line 6, ../sass/_checklist.scss */
#checklist h2 {
  font-style: normal;
  font-size: 48px;
  padding: 0;
  color: #525252;
}
/* line 14, ../sass/_checklist.scss */
#checklist h3 {
  padding: 0 0 75px;
}
/* line 18, ../sass/_checklist.scss */
#checklist .checklist-bubbles {
  text-align: center;
  vertical-align: top;
  padding: 50px 0;
  background: rgba(0, 0, 0, 0.7);
  margin: 0;
  padding: 20px 0 20px;
  /*li*/
  /*church*/
}
/* line 26, ../sass/_checklist.scss */
#checklist .checklist-bubbles li {
  vertical-align: top;
  width: 8%;
  display: inline-block;
  text-align: center;
  padding: 0 1%;
  /*hover*/
  /*h5*/
  /*overlay-bubble*/
  /*div*/
  /*photo-bubble*/
  /*photo-bubble*/
  /*photo-bubble*/
  /*photo-bubble*/
  /*photo-bubble*/
  /*photo-bubble*/
  /*hair-bubble, invite-bubble*/
  /*more-bubble*/
}
/* line 33, ../sass/_checklist.scss */
#checklist .checklist-bubbles li:hover {
  /*h5, overlay-bubble*/
}
/* line 35, ../sass/_checklist.scss */
#checklist .checklist-bubbles li:hover h5, #checklist .checklist-bubbles li:hover .overlay-bubble {
  display: block;
}
/* line 41, ../sass/_checklist.scss */
#checklist .checklist-bubbles li h5 {
  margin: -35px 0 0 30px;
  color: white;
  text-align: left;
  z-index: 1000;
  position: absolute;
  display: none;
  width: 85px;
  padding: 0 0 0 10px;
  text-indent: -10px;
}
/* line 54, ../sass/_checklist.scss */
#checklist .checklist-bubbles li .overlay-bubble {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: none;
}
/* line 66, ../sass/_checklist.scss */
#checklist .checklist-bubbles li div {
  border-radius: 100%;
  width: 75px;
  height: 75px;
  background: lightgrey;
  text-align: right;
  /*i*/
  /*center-icon*/
}
/* line 74, ../sass/_checklist.scss */
#checklist .checklist-bubbles li div i {
  text-align: center;
  color: white;
  font-size: 28px;
}
/* line 81, ../sass/_checklist.scss */
#checklist .checklist-bubbles li div .center-icon {
  display: block;
  text-align: center;
  margin: -15px 0 0 0;
  color: rgba(0, 0, 0, 0.7);
  font-size: 10px;
}
/* line 91, ../sass/_checklist.scss */
#checklist .checklist-bubbles li .photo-bubble {
  background: url("../img/photographer-icon.jpg") center;
  background-size: cover;
}
/* line 96, ../sass/_checklist.scss */
#checklist .checklist-bubbles li .flower-bubble {
  background: url("../img/florist-profile.jpg") center;
  background-size: cover;
}
/* line 101, ../sass/_checklist.scss */
#checklist .checklist-bubbles li .venue-bubble {
  background: url("../img/venue-profile.jpg") center;
  background-size: cover;
}
/* line 106, ../sass/_checklist.scss */
#checklist .checklist-bubbles li .food-bubble {
  background: url("../img/caterer-profile.jpg") center;
  background-size: cover;
}
/* line 111, ../sass/_checklist.scss */
#checklist .checklist-bubbles li .entertainment-bubble {
  background: url("../img/dj-profile.jpg") center;
  background-size: cover;
}
/* line 116, ../sass/_checklist.scss */
#checklist .checklist-bubbles li .dress-bubble {
  background: url("../img/dress-profile.jpg") center;
  background-size: cover;
}
/* line 121, ../sass/_checklist.scss */
#checklist .checklist-bubbles li .hair-bubble, #checklist .checklist-bubbles li .invite-bubble {
  box-sizing: border-box;
  padding: 25px 0 0 0;
  text-align: center;
  /*i*/
}
/* line 126, ../sass/_checklist.scss */
#checklist .checklist-bubbles li .hair-bubble i, #checklist .checklist-bubbles li .invite-bubble i {
  font-size: 24px;
  color: gray;
  margin: 0;
}
/* line 133, ../sass/_checklist.scss */
#checklist .checklist-bubbles li .more-bubble {
  box-sizing: border-box;
  padding: 25px 0 0 0;
  text-align: center;
  /*i*/
}
/* line 138, ../sass/_checklist.scss */
#checklist .checklist-bubbles li .more-bubble i {
  font-size: 30px;
  color: gray;
  margin: 0;
}
/* line 147, ../sass/_checklist.scss */
#checklist .checklist-bubbles .church {
  width: 100%;
}

/*checklist*/
/* line 1, ../sass/_start-planning.scss */
#start-planning {
  padding: 100px 5% 200px;
  text-align: center;
  box-sizing: border-box;
}
/* line 6, ../sass/_start-planning.scss */
#start-planning h2 {
  font-size: 36px;
  padding: 0 0 100px 0;
}

/*start-planning*/
/* line 1, ../sass/_buttons.scss */
.button-pink {
  padding: 6px 42px;
  border: 2px solid pink;
  background: pink;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  text-decoration: none;
  /*hover*/
}
/* line 10, ../sass/_buttons.scss */
.button-pink:hover {
  background: #e79daa;
  border: 2px solid #e79daa;
}

/*button-pink*/
/* line 17, ../sass/_buttons.scss */
.button-clear {
  padding: 6px 46px;
  border: 2px solid dimgray;
  color: dimgray;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  text-decoration: none;
  /*hover*/
}
/* line 25, ../sass/_buttons.scss */
.button-clear:hover {
  background: rgba(0, 0, 0, 0.1);
}

/*button-pink*/
/* line 1, ../sass/_footer.scss */
#footer {
  background: pink;
  padding: 25px 5%;
  color: white;
  /*a*/
  /*ul*/
  /*social*/
  /*contact*/
}
/* line 6, ../sass/_footer.scss */
#footer a {
  color: white;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
/* line 14, ../sass/_footer.scss */
#footer ul {
  list-style: none;
  display: inline-block;
  width: 48%;
  padding: 0;
  vertical-align: top;
}
/* line 23, ../sass/_footer.scss */
#footer .social {
  text-align: right;
  padding: 24px 0 0 0;
  /*li*/
}
/* line 27, ../sass/_footer.scss */
#footer .social li {
  display: inline;
  padding: 1%;
  /*i*/
}
/* line 31, ../sass/_footer.scss */
#footer .social li i {
  font-size: 24px;
}
/* line 38, ../sass/_footer.scss */
#footer .contact {
  /*img*/
  /*h6*/
  /*a*/
}
/* line 39, ../sass/_footer.scss */
#footer .contact img {
  display: inline;
  width: 30px;
}
/* line 44, ../sass/_footer.scss */
#footer .contact h6 {
  display: inline;
}
/* line 49, ../sass/_footer.scss */
#footer .contact a {
  padding: 0 0 0 36px;
}

/*footer*/
/* line 1, ../sass/_updates-modal.scss */
#updates-modal {
  /*small-input*/
  /*large-input*/
  /*submit*/
  /*img*/
  /*h1*/
}
/* line 2, ../sass/_updates-modal.scss */
#updates-modal .small-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 18px;
  border: 1px solid lightgray;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  color: dimgrey;
}
/* line 15, ../sass/_updates-modal.scss */
#updates-modal .large-input {
  width: 100%;
  height: 100px;
  padding: 10px;
  font-size: 18px;
  border: 1px solid lightgrey;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  color: dimgrey;
  margin: 10px 0;
}
/* line 29, ../sass/_updates-modal.scss */
#updates-modal .submit {
  background: pink;
  border: none;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  font-weight: 300;
  padding: 10px 30px;
  margin: 10px 0;
  cursor: pointer;
}
/* line 42, ../sass/_updates-modal.scss */
#updates-modal img {
  width: 60px;
  display: inline;
}
/* line 48, ../sass/_updates-modal.scss */
#updates-modal h1 {
  display: inline;
}

/*updates-modal*/
